bcrypt==4.0.1
cffi==1.15.1
click==8.1.7
cryptography==41.0.3
darkdetect==0.8.0
importlib-metadata==6.8.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
prompt-toolkit==3.0.39
pycparser==2.21
Pygments==2.16.1
PyNaCl==1.5.0
python-dotenv==1.0.0
rich==13.5.3
tree-sitter==0.20.2
tree-sitter-languages==1.7.0
typing_extensions==4.8.0
uc-micro-py==1.0.2
wcwidth==0.2.6
zipp==3.17.0